
{% from 'Makefile.common.jinja' import transform_sketches with context %}

{#
 #   sketches -> *.cpp
 #}
{% set sketch_cpps = SpaceList() %}
{{ transform_sketches(src_dir, sketch_cpps) }}

{#
 #   *.c *.cpp -> dependencies file
 #}
{% set sources = sketch_cpps.paths() + (src_dir|glob('*.c', '*.cpp')).paths() %}

{{ output_filepath }} : {{ sources }}
	@mkdir -p {{ output_filepath|dirname }}
	@echo {{ ('Scanning dependencies of ' ~ src_dir|basename)|colorize('cyan') }}
{% if sources %}
	{{v}}{{ e.cc }} {{ e.cflags }} {{ inc_flags }} -MM $^ > $@;
{% else %}
	{{v}}touch $@;
{% endif %}

all: {{ output_filepath }}

{#
vim:noexpandtab filetype=jinja
#}
